main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/* === Css div form ===*/
.principal{
    
    display: flex;
    justify-content: center;
    align-items: center;      
    width: 100vh;  
}

.principal form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}
/* === input ===*/
.principal form input{
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #131212;
    border-radius: 5px;
}

/* === label ===*/

.principal label{
    width: 53%;
    padding: 10px;
    color: #1351d8;
    font-family: Verdana,;
    font-size: 30px;
}
/* === Botão ===*/
.principal  button{
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color:  #1351d8;
}

.principal button:hover{
    background-color: #0f3c8a;
}
.principal button:active{
    background-color: #0f3c8a;
    transform: translateY(2px);
}
 #imagem img{
    width: 140%;
}


/* === Css form ===*/
#formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#formulario textarea{
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #131212;
    border-radius: 5px;
}

#tipo-contato {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

#tipo-contato:hover{
    background-color: #b8b6b6;
    cursor: pointer;
}
#tipo-contato option {
    padding: 8px;
}

#tipo-contato option:hover {
    background-color: #e0e0e0; /* Efeito hover nas opções (limitado) */
}


/* === responsividade ===*/
@media (max-width: 768px) {
    .principal {
        width: 100%;
    }


   
    main{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        margin-bottom: 10%;
    }
    #imagem img{

        width: 100%;
        height: 100%;
        margin-right: 20%;
    }
    
    
    
}