/* === Video ===*/
#play{
    width: 100%;
    height: 70%;
    background-color: black;
    display: flex;
    justify-content: center;

}

/* === Produtos os carros === */
.produtos{
    height: 50%;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;

}
 
.produtos label {
    color: #5300ec;
    border: 2px solid transparent;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
  }
.produtos input[type="checkbox"]:checked + img{
    border: 2px solid blue; /* ou outro estilo de destaque */
  }
.produtos p{
    color: #171617;
    border: 2px solid transparent;
    cursor: pointer;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
}

/* === Botão ===*/
.button{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;  
    
}
.button button{
    background-color:#1351d8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.button button:hover{
    background-color: #0f3c8a;
}
.button button:active{
    background-color: #0f3c8a;
    transform: translateY(2px);
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    
}
.info-produto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    flex-wrap: wrap;
    
}
.info-produto img{
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
  
    .produtos{
        flex-direction: column;
        align-items: center;
    }
    .info-produto{
        flex-direction: column;
        align-items: center;
    }
    .info-produto img{
        max-width: 100%;
        max-height: 100%;
    }
    
}