/* === Geral ===*/
* {

    font-family: 'Fonte Ford', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

html,

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
}


hr {
    opacity: 0.5;

}
/* Estilo básico do menu */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f9f9f9;
  
}
/* Estilo dos links */
nav a {
  text-decoration: none;
  color: blue;
  font-size: 18px;
  transition: color 0.3s ease, border-bottom 0.3s ease; /* Efeito suave */
}

/* Efeito ao passar o mouse */
nav a:hover {
  color: darkblue;
  border-bottom: 2px solid darkblue; /* Linha inferior para destacar */
}

/* Efeito para o link ativo */
nav a.active {
  color: red;
  border-bottom: 2px solid red; /* Destaca o link ativo */
}

/*=== div cabecalho ===*/
#cabecalho {
    width: 100%;
    height: 3%;
    background-color: #fafcff;
    display: flex;
    color: white;
    font-size: 30px;
    padding: 10px;
    align-items: center;
    justify-content: center;


}
/*=== div menu ===*/
#menu a {
    text-decoration: none;
    color: #1351d8;
    font-size: 30px;
    padding: 15px;
    margin: 10px;
}

#menu {
    text-decoration: none;
    color: #1351d8;
    font-size: 30px;
    padding: 15px;
    margin: 10px;
    justify-content: center;

}

#logo {
    width: 10%;
    border-radius: 50%;
    position: absolute;
    top: 1%;
    left: 1%;
}
/*=== div logo ===*/
#logo img {
    width: 100%;
    height: 100%;

}

/*=== div imagem-inicial ===*/
.imagem-inicial {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imagem-inicial img {
    width: 80%;
    height: 80%;
    border-radius: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-inicial p {
    padding: 5px;
    flex-direction: column;
}

/*=== div rodape ===*/
.rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b357e;
    padding: 15px 20px;
}

.redes-sociais {
    width: 30%;
    color: white;
}



.redes-sociais img {
    width: 24px;
    margin-right: 10px;
}

.copyright {
    color: white;
    width: 70%;
    text-align: center;
    margin-right: 20%;

}



/*=== Responsividade ===*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    #cabecalho {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    #logo {
        position: relative;
    }



    #menu {
        text-decoration: none;
        text-align: center;
    }

    #menu a {

        font-size: 25px;

    }

    #logo {
        width: 30%;
        border-radius: 50%;
        align-items: left;
        justify-content: left;
        position: left;
        top: 10px;
        position: fixed left;
    }

    .imagem-inicial {
        width: auto;
        height: auto;
        
    }

    .imagem-inicial img {
        width: 100%;
        height: 100%;
        border-radius: 1%;
        display: flex;
        align-items: center;
        justify-content: center;
    }



}